<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="https://www.sitemaps.org/schemas/sitemap/0.9">
    <?js for(let index in contentData) { ?>
        <url>
            <loc>${contentData[index].link}</loc>
        </url>
    <?js } ?>
</urlset>
