<main class="container">
<!--КАРТОЧКА ОРГАНИЗАЦИИ-->
    <section class="information">
        <div class="container">
            <div class="info">
                <div class="head">
                    <h1>
                        ${organization.name}
                    </h1>
                </div>
                <div class="image">
                    <div class="system_imageObject" style="background-image: url('${organization.photo_link}')"></div>
                </div>
                <ul>
                    <li>
                        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                        <h2>${i18n('Адрес')}:</h2>
                        <p>${organization.address}</p>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                        <h2>${i18n('Телефон')}:</h2>
                        <p>${organization.phone}</p>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-link" aria-hidden="true"></i>
                        <h2>${i18n('Сайт')}:</h2>
                        <a href="//${organization.site}">${organization.site}</a>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                        <h2>${i18n('E-mail')}:</h2>
                        <a href="mailto:${organization.email}">${organization.email}</a>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <?js if ( !empty(organization.managerPost) ) { ?>
                                <h2>${organization.managerPost}:</h2>
                            <?js } else { ?>
                                <h2>${i18n('Руководитель')}:</h2>
                            <?js } ?>
                        <h2>${organization.managerFIO}</h2>
                    </li>
                    <li>
                        <i class="fa fa-fw fa-map" aria-hidden="true"></i>
                        <h2>${i18n('Географические координаты')}:</h2>
                        <span>(${i18n('широта, долгота')})</span>
                        <p>${organization.coordinates_lat},${organization.coordinates_lon}</p>
                    </li>
                </ul>
            </div>
        </div>
    </section>
<!--/КАРТОЧКА ОРГАНИЗАЦИИ-->
<!--АКТУАЛЬНЫЕ СЫЛКИ-->
    <section class="actual_links">
        <h2>${i18n('Актуальные ссылки')}</h2>
        <div class="container">
            <ul>
                <?js for(let index in currentLinks) { ?>
                    <li>
                        <?js if( !empty(currentLinks[index].menu.icon) ) { ?>
                            <i class="fa fa-fw ${currentLinks[index].menu.icon}" aria-hidden="true"></i>
                        <?js } ?>
                        <?js if( currentLinks[index].isInternal ) { ?>
                            <a href="/${useLang}/${currentLinks[index].menu.link}" class="nav__link"> ${currentLinks[index].menuLocal.text} </a>
                        <?js }else{ ?>
                            <a href="${currentLinks[index].menu.link}" class="nav__link"> ${currentLinks[index].menuLocal.text} </a>
                        <?js } ?>
                    </li>
                <?js } ?>
            </ul>
        </div>
    </section>
<!--/АКТУАЛЬНЫЕ СЫЛКИ-->
    <section class="sub-news">
        <div class="container">
<!--НОВОСТИ-->
            <?js if ( !empty(news) )  { ?>
                <section class="container news">
                    <script type="text/javascript" src="/js/newsload.js"></script>
                    <h2>${i18n('Новости')}</h2>
                        <?js for(let index in news) { ?>
                            <article>
                                <?js if ( !empty(news[index].newsLocal.photo_link) ) { ?>
                                    <div class="thumb">
                                        <div class="system_imageObject" style="background-image: url(${news[index].newsLocal.photo_link})"></div>
                                    </div>
                                <?js } ?>
                                <div class="text">
                                    <a href="/${useLang}/news-${news[index].news.alias}">
                                        <h2>${news[index].newsLocal.name}</h2>
                                    </a>
                                    <div class="date">
                                        <i class="fa fa-calendar"></i>
                                        <span>${toRuDateTimeString(new Date(news[index].news.date_added * 1000))}</span>
                                    </div>
                                    <?js if( news[index].newsLocal.fullname ) { ?>
                                        <p class="short_desc">${news[index].newsLocal.fullname}</p>
                                    <?js } ?>
                                    <a href="/${useLang}/news-${news[index].news.alias}" class="bt_more">${i18n('Читать далее')}</a>
                                </div>
                            </article>
                        <?js } ?>
                    <a href="/${useLang}/news" class="bt">${i18n('Все новости')}</a>
                </section>
            <?js }?>
<!--/НОВОСТИ-->
<!--ПОДРАЗДЕЛЕНИЯ-->
            <?js if ( !empty(buildings) )  { ?>
                <section class="subdivisions">
                    <h2>${i18n('Объекты')}:</h2>
                    <ul>
                        <?js for(let index in buildings) { ?>
                            <li>
                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                <a href="/${useLang}/building-${buildings[index].buildings.alias}">${buildings[index].buildings.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                </section>
            <?js }?>
<!--/ПОДРАЗДЕЛЕНИЯ-->
        </div>
    </section>
<!--БАНЕРЫ-->
    <section class="banners">
        <h2>${i18n('Полезные ссылки')}</h2>
        <div class="container">
            <div>
                <?js for(let index in banners) { ?>
                    <a href="${banners[index].banners.link}">
                        <img src="${banners[index].banners.photo_link}" alt="">
                    </a>
                <?js } ?>
            </div>
        </div>
    </section>
<!--/БАНЕРЫ-->
</main>