<main class="container">
<!--СЛАЙДЕР И 4 БЛОКА-->
    <section class="slider">
        <div class="container">
            <div class="system_carouselObject owl-carousel">
                <?js for(let index in events) { ?>
                    <div class="slide">
                        <div class="image">
                            <img src="${events[index].eventsLocal.photo_link}">
                        </div>
                        <div class="text">
                            <a href="/${useLang}/events-${events[index].events.alias}" class="nav__link">
                                <h2>${events[index].eventsLocal.name}</h2>
                            </a>
                            <p>${events[index].eventsLocal.fullname}</p>
                        </div>
                    </div>
                <?js } ?>
            </div>

            <div class="buttons">
                <a href="https://crimea.k-vrachu.ru/">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                    <h3>${i18n('Записаться')}<br>${i18n('на_прием')}</h3>
                </a>
                <a href="" class="nav__link">
                    <i class="fa fa-balance-scale" aria-hidden="true"></i>
                    <h3>${i18n('Противодействие')}<br>${i18n('коррупции')}</h3>
                </a>
                <a href="" class="nav__link">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h3>${i18n('Общественная')}<br>${i18n('приемная')}</h3>
                </a>
                <a href="${useLang}/map-of-organisations" class="nav__link">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                    <h3>${i18n('Карта объектов')}<br>${i18n('здравоохранения')}</h3>
                </a>
            </div>
        </div>
    </section>
<!--/СЛАЙДЕР И 4 БЛОКА-->
<!--АКТУАЛЬНЫЕ СЫЛКИ-->
    <section class="actual_links">
        <h2>${i18n('Актуальные ссылки')}</h2>
        <div class="container">
            <ul>
                <?js for(let index in currentLinks) { ?>
                    <li>
                        <?js if( !empty(currentLinks[index].menu.icon) ) { ?>
                            <i class="fa fa-fw ${currentLinks[index].menu.icon}" aria-hidden="true"></i>
                        <?js } ?>
                        <?js if( currentLinks[index].isInternal ) { ?>
                            <a href="/${useLang}/${currentLinks[index].menu.link}" class="nav__link"> ${currentLinks[index].menuLocal.text} </a>
                        <?js }else{ ?>
                            <a href="${currentLinks[index].menu.link}" class="nav__link"> ${currentLinks[index].menuLocal.text} </a>
                        <?js } ?>
                    </li>
                <?js } ?>
            </ul>
        </div>
    </section>
<!--/АКТУАЛЬНЫЕ СЫЛКИ-->
<!--НОВОСТИ-->
    <section class="container news">
        <script type="text/javascript" src="/js/newsload.js"></script>
        <h2>${i18n('Новости')}</h2>
            <?js for(let index in news) { ?>
                <article>
                    <?js if ( !empty(news[index].newsLocal.photo_link) ) { ?>
                        <div class="thumb">
                            <div class="system_imageObject" style="background-image: url('${news[index].newsLocal.photo_link}')"></div>
                        </div>
                    <?js } ?>
                    <div class="text">
                           <a href="/${useLang}/news-${news[index].news.alias}"><h2>${news[index].newsLocal.name}</h2></a>
                        <div class="date">
                            <i class="fa fa-calendar"></i>
                            <span>${toRuDateTimeString(new Date(news[index].news.date_added * 1000))}</span>
                        </div>
                        <p class="short_desc">${news[index].newsLocal.fullname}</p>
                        <a href="/${useLang}/news-${news[index].news.alias}" class="bt_more">${i18n('Читать далее')}</a>
                    </div>
                </article>
            <?js } ?>
        <a href="/${useLang}/news" class="bt">${i18n('Все новости')}</a>
    </section>
<!--/НОВОСТИ-->
<!--БАНЕРЫ-->
    <section class="banners">
        <h2>${i18n('Полезные ссылки')}</h2>
        <div class="container">
            <div>
                <?js for(let index in banners) { ?>
                    <a href="${banners[index].banners.link}">
                        <img src="${banners[index].banners.photo_link}" alt="">
                    </a>
                <?js } ?>
            </div>
        </div>
    </section>
<!--/БАНЕРЫ-->
</main>