<main class="container">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<!--КАРТОЧКА ПОДРАЗДЕЛЕНИЯ-->
    <section class="subdivision-info">
        <div class="container">
            <div class="info">
                <div class="head">
                    <h1>
                         ${contentData.subdivisions.name}
                    </h1>
                </div>
                <div class="column">
                    <ul class="data">
                        <li>
                            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                            <h2>${i18n('Адрес')}</h2>
                            <p>${contentData.subdivisions.address}</p>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                            <h2>${i18n('Телефон')}:</h2>
                            <p>${contentData.subdivisions.phone}</p>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-link" aria-hidden="true"></i>
                            <h2>${i18n('Сайт')}:</h2>
                            <a href="${contentData.subdivisions.site}">${contentData.subdivisions.site}</a>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                            <h2>${i18n('E-mail')}:</h2>
                            <a href="${contentData.subdivisions.email}">${contentData.subdivisions.email}</a>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <?js if ( !empty(contentData.subdivisions.managerPost) ) { ?>
                                <h2>${contentData.subdivisions.managerPost}:</h2>
                            <?js } else { ?>
                                <h2>${i18n('Руководитель')}:</h2>
                            <?js } ?>
                            <p>${contentData.subdivisions.managerFIO}</p>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-map" aria-hidden="true"></i>
                            <h2>${i18n('Географические координаты')}:
                                <span>${i18n('(широта, долгота)')}</span>
                            </h2>
                            <p>${contentData.subdivisions.coordinates_lat},${contentData.subdivisions.coordinates_lon}</p>
                        </li>
                    </ul>
                </div>
                <div class="column2">
                    <?js if( !empty(contentData.subdivisions.photo_link) ) { ?>
                        <div class="system_imageObject" style="background-image: url('${contentData.subdivisions.photo_link}')"></div>
                    <?js } ?>
                </div>
            </div>
        </div>
    </section>
<!--/КАРТОЧКА ПОДРАЗДЕЛЕНИЯ-->

<!--ОСНОВНОЕ ЗДАНИЕ-->
    <?js if ( !empty(contentData['subdivisions*buildingMain'].name) ) { ?>
        <section class="subdivisions">
            <div class="container">
                <h2>${i18n('Основное здание')}:</h2>
                <a href="/${useLang}/building-${contentData['subdivisions*buildingMain'].alias}">${contentData['subdivisions*buildingMain'].name}</a>
            </div>
        </section>
    <?js } ?>
<!--/ОСНОВНОЕ ЗДАНИЕ-->

<!--ЗДАНИЯ-->
    <?js if ( !empty(contentData.subdivisions.buildingsArray) ) { ?>
        <section class="subdivisions">
            <div class="container">
                <h2>${i18n('Занимаемые здания')}:</h2>
                    <ul>
                        <?js for(let index in contentData.subdivisions.buildingsArray) { ?>
                            <li>
                                <i class="fa fa-hospital-o" aria-hidden="true"></i>
                                <a href="/${useLang}/building-${contentData.subdivisions.buildingsArray[index].buildings.alias}">${contentData.subdivisions.buildingsArray[index].buildings.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
            </div>
        </section>
    <?js } ?>
<!--/ЗДАНИЯ-->
</main>