<main class="container">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>

<!--КАРТОЧКА ЗДАНИЯ-->
    <section class="subdivision-info">
        <div class="container">
            <div class="info">
                <div class="head">
                    <h1>
                        ${contentData.buildings.name}
                    </h1>
                </div>
                <div class="column">
                    <ul class="data">
                        <li>
                            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                            <h2>${i18n('Адрес')}</h2>
                            <p>${contentData.buildings.address}</p>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-map" aria-hidden="true"></i>
                            <h2>${i18n('Географические координаты')}:
                                <span>${i18n('(широта, долгота)')}</span>
                            </h2>
                            <p>${contentData.buildings.coordinates_lat},${contentData.buildings.coordinates_lon}</p>
                        </li>
                    </ul>
                </div>
                <div class="column2">
                    <?js if( !empty(contentData.buildings.coordinates_lat) && !empty(contentData.buildings.coordinates_lon) ) { ?>
                          <div class="system_mapObject"
                              latitude="${contentData.buildings.coordinates_lat}"
                              longitude="${contentData.buildings.coordinates_lon}"
                          >
                          </div>
                    <?js } ?>
                </div>
            </div>
        </div>
    </section>
<!--/КАРТОЧКА ЗДАНИЯ-->

<!--ПОДРАЗДЕЛЕНИЯ-->
    <section class="subdivisions">
        <div class="container">
            <h2>${i18n('Структурные подразделения')}:</h2>
                <ul>
                    <?js for(let index in contentData.buildings.subdivisionsArray) { ?>
                        <li>
                            <i class="fa fa-hospital-o" aria-hidden="true"></i>
                            <a href="/${useLang}/subdivision-${contentData.buildings.subdivisionsArray[index].subdivisions.alias}">${contentData.buildings.subdivisionsArray[index].subdivisions.name}</a>
                        </li>
                    <?js } ?>
                </ul>
        </div>
    </section>
<!--/ПОДРАЗДЕЛЕНИЯ-->

</main>