<main class="container">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>

<!--/ЗДАНИЯ-->
    <section class="buildings-table">
        <div class="container">
        <h1>${i18n('Здания')}</h1>
        <p class="count">${i18n('всего')} :
             ${count}
        </p>

            <table  spoilerClass="css-table-spoiler" class="system_tableObject css-table table dataTable no-footer" role="grid">
                <thead>
                    <tr role="row" latitude="35.096051" longitude="45.953283">
                            <th></th>
                            <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                aria-sort="ascending" aria-label="Название: activate to sort column descending">${i18n('Название')}
                            </th>
                            <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                aria-label="Адрес: activate to sort column ascending">${i18n('Адрес')}
                            </th>
                    </tr>
                </thead>
                <tbody>
                    <?js for(let index in contentData) { ?>
                        <tr data-id="${contentData[index].id}"
                        data-latitude="${contentData[index].buildings.coordinates_lat}"
                        data-longitude="${contentData[index].buildings.coordinates_lon}"
                        class="subdivision-grid-data odd" role="row">
                            <td></td>
                            <td class="sorting_1">
                                <a href="/${useLang}/building-${contentData[index].buildings.alias}" target="_blank">${contentData[index].buildings.name}</a>
                            </td>
                            <td>${contentData[index].buildings.address}</td>
                        </tr>
                    <?js } ?>
                </tbody>
            </table>

       </div>
    </section>
<!--/ЗДАНИЯ-->

</main>