<main class="container">
    <script type="text/javascript" src="/js/newsload.js"></script>
<!--НОВОСТИ-->
    <section class="news">
        <div class="container">
            <h1>${i18n('Новости')}</h1>
            <?js for(let index in contentData) { ?>
                <article class="module">
                    <?js if ( !empty(contentData[index].newsLocal.photo_link) ) { ?>
                        <div class="thumb">
                            <div class="system_imageObject" style="background-image: url(${contentData[index].newsLocal.photo_link})"></div>
                        </div>
                    <?js } ?>
                    <div class="text">
                        <a href="/${useLang}/news-${contentData[index].news.alias}"><h2>${contentData[index].newsLocal.name}</h2></a>
                        <div class="date">
                            <i class="fa fa-calendar"></i>
                            <span>${toRuDateTimeString(new Date(contentData[index].news.date_added * 1000))}</span>
                        </div>
                        <p class="short_desc">${contentData[index].newsLocal.fullname}</p>
                        <div class="info"></div>
                    </div>
                </article>
            <?js } ?>
        </div>
    </section>
<!--/НОВОСТИ-->
</main>