<main class="container">
    <script type="text/javascript" src="/js/newsload.js"></script>
<!--СТАТЬИ-->
    <section class="news">
        <div class="container">
            <h1>${i18n('Статьи')}</h1>
            <?js for(let index in contentData) { ?>
                <article class="module">
                    <?js if ( !empty(contentData[index].articlesLocal.photo_link) ) { ?>
                        <div class="thumb">
                            <div class="system_imageObject" style="background-image: url(${contentData[index].articlesLocal.photo_link})"></div>
                        </div>
                    <?js } ?>
                    <div class="text">
                        <a href="/${useLang}/${contentData[index].articles.alias}"><h2>${contentData[index].articlesLocal.name}</h2></a>
                        <div class="date">
                            <i class="fa fa-calendar"></i>
                            <span>${toRuDateTimeString(new Date(contentData[index].articles.date_added * 1000))}</span>
                        </div>
                        <?js if( contentData[index].articlesLocal.fullname ) { ?>
                           <p class="short_desc">${contentData[index].articlesLocal.fullname}</p>
                        <?js } ?>
                        <div class="info"></div>
                     </div>
                </article>
            <?js } ?>
        </div>
    </section>
<!--/СТАТЬИ-->
</main>