<main class="container">
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>

<!--ВАКАНСИИ-->
    <section class="container vacations">
        <h1>${i18n('Вакансии')}</h1>
        <p class="count">${i18n('всего')} :
            ${count}
        </p>
        <content>
            <div class="table">
                <table  spoilerClass="css-table-spoiler" class="system_tableObject css-table table dataTable no-footer" role="grid">
                    <thead>
                    <tr role="row">
                        <th></th>
                        <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                            aria-sort="ascending" aria-label="Должность: activate to sort column descending">${i18n('Должность')}</th>
                        <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                            aria-label="Учреждение: activate to sort column ascending">${i18n('Учреждение')}</th>
                        <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                            aria-label="Оклад: activate to sort column ascending">${i18n('Оклад')}</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                            aria-label="Требования: activate to sort column ascending">${i18n('Требования')}:</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                            aria-label="Примечание: activate to sort column ascending">${i18n('Примечание')}:</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                            aria-label="Контакты: activate to sort column ascending">${i18n('Контакты')}:</th>
                    </tr>
                    </thead>
                    <tbody>
                        <?js for(let index in contentData) { ?>
                             <tr role="row" class="odd">
                                     <td><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
                                     <td>${contentData[index].vacancys.name}</td>
                                     <td>${contentData[index].organizations.name}</td>
                                     <td>${contentData[index].vacancys.salary}</td>
                                     <td>${contentData[index].vacancys.requirements}</td>
                                     <td>${contentData[index].vacancys.note}</td>
                                     <td>${contentData[index].vacancys.contacts}</td>
                             </tr>
                        <?js } ?>
                    </tbody>
                </table>
            </div>
        </content>
    </section>
<!--/ВАКАНСИИ-->
</main>
