<option value="">
${i18n('Выбрать все')}
</option>
<?js for(let index in contentData) { ?>
<option value="${contentData[index].organizations.id}"
latitude="${contentData[index].organizations.coordinates_lat}"
longitude="${contentData[index].organizations.coordinates_lon}"
link="${contentData[index].organizations.alias}.${useHost}">
${contentData[index].organizations.name}
</option>
<?js } ?>
