<main class="container">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>

<!--КАРТОЧКА ОРГАНИЗАЦИИ-->
    <section class="subdivision-info">
        <div class="container">
            <div class="info">
                <div class="head">
                    <h1>
                        ${organization.name}
                    </h1>
                </div>
                <div class="column">
                    <ul class="data">
                        <li>
                            <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>
                            <h2>${i18n('Адрес')}:</h2>
                            <p>${organization.address}</p>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-phone" aria-hidden="true"></i>
                            <h2>${i18n('Телефон')}:</h2>
                            <p>${organization.phone}</p>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-link" aria-hidden="true"></i>
                            <h2>${i18n('Сайт')}:</h2>
                            <a href="//${organization.site}">${organization.site}</a>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
                            <h2>${i18n('E-mail')}:</h2>
                            <a href="mailto:${organization.email}">${organization.email}</a>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                            <?js if ( !empty(organization.managerPost) ) { ?>
                                <h2>${organization.managerPost}:</h2>
                            <?js } else { ?>
                                <h2>${i18n('Руководитель')}:</h2>
                            <?js } ?>
                            <p>${organization.managerFIO}</p>
                        </li>
                        <li>
                            <i class="fa fa-fw fa-map" aria-hidden="true"></i>
                            <h2>${i18n('Географические координаты')}:
                                <span>${i18n('(широта, долгота)')}</span>
                            </h2>
                            <p>${organization.coordinates_lat},${organization.coordinates_lon}</p>
                        </li>
                    </ul>
                </div>
                <div class="column2">
                    <?js if( !empty(organization.coordinates_lat) && !empty(organization.coordinates_lon) ) { ?>
                              <div class="system_mapObject"
                                  latitude="${organization.coordinates_lat}"
                                  longitude="${organization.coordinates_lon}"
                              >
                              </div>
                    <?js } ?>
                </div>
             </div>
        </div>
    </section>
<!--/КАРТОЧКА ОРГАНИЗАЦИИ-->

<!--ЗДАНИЯ-->
    <?js if ( !empty(contentDataBuildings) ) { ?>
        <table id="subdivisions-buildings-table" style="display:none;">
            <tbody>
                <?js for(let index in contentDataBuildings) { ?>
                    <?js if( !empty(contentDataBuildings[index].buildings.coordinates_lat) && !empty(contentDataBuildings[index].buildings.coordinates_lon) ) { ?>
                        <tr data-id="${contentDataBuildings[index].buildings.id}"
                            data-alias="${contentDataBuildings[index].buildings.alias}"
                            data-latitude="${contentDataBuildings[index].buildings.coordinates_lat}"
                            data-longitude="${contentDataBuildings[index].buildings.coordinates_lon}"
                            data-phone="${contentDataBuildings[index].buildings.phone}"
                            data-address="${contentDataBuildings[index].buildings.address}"
                            data-name="${contentDataBuildings[index].buildings.name}"
                            class="subdivision-grid-data odd" role="row">
                        </tr>
                    <?js } ?>
                <?js } ?>
            </tbody>
        </table>
    <?js } ?>
<!--/ЗДАНИЯ-->
<!--/ПОДРАЗДЕЛЕНИЯ-->
    <?js if ( !empty(contentDataSubdivisions) ) { ?>
        <section class="subdivisions-table">
            <div class="container">
                <table id="pagingTable" class="table dataTable no-footer" role="grid">
                    <thead>
                        <tr role="row" latitude="35.096051" longitude="45.953283">
                                <th></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Название: activate to sort column descending">${i18n('Название')}
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                    aria-label="Адрес: activate to sort column ascending">${i18n('Адрес')}</th>
                                <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                    aria-label="Телефон: activate to sort column ascending">${i18n('Телефон')}</th>
                                <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                    aria-label="Email: activate to sort column ascending">${i18n('E-mail')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?js for(let index in contentDataSubdivisions) { ?>
                            <tr data-id="${contentDataSubdivisions[index].id}"
                            data-latitude="${contentDataSubdivisions[index].subdivisions.coordinates_lat}"
                            data-longitude="${contentDataSubdivisions[index].subdivisions.coordinates_lon}"
                            class="subdivision-grid-data odd" role="row">
                                <td></td>
                                <td class="sorting_1">
                                    <a href="/${useLang}/subdivision-${contentDataSubdivisions[index].subdivisions.alias}" target="_blank">${contentDataSubdivisions[index].subdivisions.name}</a>
                                </td>
                                <td>${contentDataSubdivisions[index].subdivisions.address}</td>
                                <td>${contentDataSubdivisions[index].subdivisions.phone}</td>
                                <td>${contentDataSubdivisions[index].subdivisions.email}</td>
                            </tr>
                        <?js } ?>
                    </tbody>
                </table>
            </div>
        </section>
    <?js } ?>
<!--/ПОДРАЗДЕЛЕНИЯ-->
</main>
