<main class="container">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
<!--ОРГАНИЗАЦИИ-->
    <section class="subdivisions_main">
        <div class="container">
            <h2>${i18n('Организации')}:</h2>
            <table  spoilerClass="css-table-spoiler" class="system_tableObject css-table table dataTable no-footer">
                <thead>
                    <th class="sorting_asc">${i18n('Учреждение')}</th>
                    <th class="sorting">${i18n('Руководитель')}</th>
                    <th class="sorting">${i18n('Адрес')}</th>
                    <th inSpoiler = "true" class="sorting">${i18n('Телефон')}:</th>
                    <th inSpoiler = "true" class="sorting">${i18n('Email')}:</th>
                </thead>
                <tbody>
                    <?js for(let index in contentData) { ?>
                        <tr>
                            <td><a href="//${contentData[index].organizations.alias}.${useHost}/${useLang}">${contentData[index].organizations.name} </a></td>
                            <td><p>${contentData[index].organizations.managerFIO}</p></td>
                            <td><p>${contentData[index].organizations.address}</p></td>
                            <td><p>${contentData[index].organizations.phone}</p></td>
                            <td><p>${contentData[index].organizations.email}</p></td>
                        </tr>
                    <?js } ?>
                </tbody>
            </table>
        </div>
    </section>
<!--/ОРГАНИЗАЦИИ-->
</main>
