<main class="container">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript" src="/js/map.js"></script>

<!--КАРТА ОРГАНИЗАЦИЙ-->
    <section class="container orgs">
        <h1>${i18n('Все медицинские организации')}</h1>
        <h3 class="modernization-link-container">
            <a class="modernization-link" href="https://zdrav82.ru/rus/intermap?Модернизация" target="_blank">${i18n('Программа модернизации объектов здравоохранения')}</a>
        </h3>
        <content>

            <div class="form-group">
                <label>${i18n('Выберите тип организации')}</label>
                <select class="form-control input-lg" id="system_selectOrganizationsType">
                    <option value=""> ${i18n('Выбрать все')} </option>
                    <?js for(let index in orgTypes) { ?>
                        <option value="${orgTypes[index].listsChoices.id}">${orgTypes[index].listsChoices.name}</option>'
                    <?js } ?>
                </select>
            </div>

            <div class="form-group">
                <label>${i18n('Выберите организацию')}</label>
                <select class="form-control input-lg" id="system_selectOrganizations">
                </select>
            </div>

            <div class="sel-map">
                <div class="yandexmap" id="system_mapOrganizations"></div>
            </div>

        </content>
    </section>
<!--/КАРТА ОРГАНИЗАЦИЙ-->
</main>

