<main class="container">

<!--ПОИСК-->
    <section class="container search-results">

        <h1>${i18n('Вы искали')}: <span>«${searchText}»</span> </h1>
        <p>${i18n('Всего результатов')}:${count}</p>

        <?js if( !useSearch ) { ?>
            <h1>${i18n('Слишком короткий текст запроса. Длина запроса должна составлять не менее 3 символов')}</h1>
        <?js } ?>

        <?js if( useSearch && !count ) { ?>
            <h1>${i18n('Совпадений не найдено')}</h1>
        <?js } ?>

        <?js if( useSearch ) { ?>

            <!--организации-->
            <?js if( countOrg ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Организации')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countOrg} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataOrg) { ?>
                             <li>
                                 <a href="//<?js if(contentDataOrg[index].organizations.parent) { ?>${contentDataOrg[index].organizations.alias}.<?js } ?>${useHost}/${useLang}"><i class="fa fa-fw fa-hospital-o" aria-hidden="true"></i>${contentDataOrg[index].organizations.name}</a>
                             </li>
                        <?js } ?>
                    </ul>
                    <?js if( countOrg > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

            <!--здания-->
            <?js if( countBui ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Здания')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countBui} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataBui) { ?>
                            <li>
                                <a href="//<?js if(contentDataBui[index].organizations.parent) { ?>${contentDataBui[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/building-${contentDataBui[index].buildings.alias}"><i class="fa fa-fw fa-hospital-o" aria-hidden="true"></i>${contentDataBui[index].buildings.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countBui > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>


            <!--подразделения-->
            <?js if( countSub ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Подразделения')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countSub} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataSub) { ?>
                            <li>
                                <a href="//<?js if(contentDataSub[index].organizations.parent) { ?>${contentDataSub[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/subdivision-${contentDataSub[index].subdivisions.alias}"><i class="fa fa-fw fa-university" aria-hidden="true"></i>${contentDataSub[index].subdivisions.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countSub > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

            <!--статьи-->
            <?js if( countArt ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Статьи')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countArt} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataArt) { ?>
                            <li>
                                <a href="//<?js if(contentDataArt[index].organizations.parent) { ?>${contentDataArt[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/${contentDataArt[index].articles.alias}"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i></i>${contentDataArt[index].articlesLocal.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countArt > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

            <!--новости-->
            <?js if( countNew ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Новости')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countNew} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataNew) { ?>
                            <li>
                                <a href="//<?js if(contentDataNew[index].organizations.parent) { ?>${contentDataNew[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/news-${contentDataNew[index].news.alias}"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i></i>${contentDataNew[index].newsLocal.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countNew > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

            <!--события-->
            <?js if( countEve ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('События')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countEve} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataEve) { ?>
                            <li>
                                <a href="//<?js if(contentDataEve[index].organizations.parent) { ?>${contentDataEve[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/events-${contentDataEve[index].events.alias}"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i></i>${contentDataEve[index].events.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countEve > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

            <!--документы-->
            <?js if( countDoc ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Документы')}
                        <br>
                        <span> ${i18n('Документы')}: ${countDoc} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataDoc) { ?>
                            <li>
                                <div>
                                    <a href="//<?js if(contentDataDoc[index].organizations.parent) { ?>${contentDataDoc[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/${contentDataDoc[index].articles.alias}"><i class="fa fa-fw fa-file-text-o" aria-hidden="true"></i>${i18n('Статья')} : ${contentDataDoc[index].articles.name}</a>
                                    <a href="//${useHost}/${useLang}/document-${contentDataDoc[index].documents.id}" class="nav__link"><i class="fa fa-fw fa-file-pdf-o" aria-hidden="true"></i>${i18n('Документ')} : ${contentDataDoc[index].documents.name}</a>
                                </div>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countDoc > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

            <!--администрация-->
            <?js if( countAdm ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Администрация')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countAdm} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataAdm) { ?>
                            <li>
                                <a href="//<?js if(contentDataAdm[index].organizations.parent) { ?>${contentDataAdm[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/rukovodstvo"><i class="fa fa-fw fa-id-badge" aria-hidden="true"></i></i>${contentDataAdm[index].administrations.fio}</a>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countAdm > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

            <!--работники-->
            <?js if( countWor ) { ?>
                <div class="articles">
                    <h2>
                        ${i18n('Сотрудники')}
                        <br>
                        <span> ${i18n('Совпадений')}: ${countWor} </span>
                    </h2>
                    <ul>
                        <?js for(let index in contentDataWor) { ?>
                            <li>
                                <a href="//<?js if(contentDataWor[index].organizations.parent) { ?>${contentDataWor[index].organizations.alias}.<?js } ?>${useHost}/${useLang}/workers"><i class="fa fa-fw fa-id-badge" aria-hidden="true"></i></i>${contentDataWor[index].workers.fio}</a>
                            </li>
                        <?js } ?>
                    </ul>
                    <?js if( countWor > 3 ) { ?>
                        <div class="bt"><p>${i18n('Показать все')}</p></div>
                    <?js } ?>
                </div>
            <?js } ?>

        <?js } ?>

    </section>
<!--/ПОИСК-->
</main>