<main class="container">
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>
    <!--РУКОВОДСТВО-->
    <section class="container leadership">
        <content>

            <!--Администрация-->
            <h1>${i18n('Администрация')}</h1>
            <div class="table">
                <table  spoilerClass="css-table-spoiler" class="system_tableObject css-table pagingTableAdministration table dataTable no-footer" role="grid">
                    <thead>
                        <tr role="row">
                        <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                        aria-sort="ascending" aria-label="Должность: activate to sort column descending">${i18n('Сортировка')}</th>
                        <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                        aria-sort="ascending" aria-label="Должность: activate to sort column descending">${i18n('Должность')}</th>
                        <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                        aria-sort="ascending" aria-label="Учреждение: activate to sort column ascending">${i18n('Ф.И.О.')}</th>
                    </thead>
                    <tbody>
                        <!--Руководитель организации-->
                        <?js if ( !empty(organization.managerFIO) ) { ?>
                            <tr role="row" class="odd">
                                <td> 0 </td>
                                <td>${organization.managerPost}</td>
                                <td>${organization.managerFIO}</td>
                            </tr>
                        <?js } ?>
                        <!--Замы организации-->
                        <?js for(let index in contentDataAdmin) { ?>
                            <tr role="row" class="odd">
                                <td>${contentDataAdmin[index].administrations.order}</td>
                                <td>${contentDataAdmin[index].administrations.post}</td>
                                <td>${contentDataAdmin[index].administrations.fio}</td>
                            </tr>
                        <?js } ?>
                    </tbody>
                </table>
            </div>

            <!--Таблицы с подразделениями (в разбивке зданий)-->
            <?js for(let index in contentDataBuildings) { ?>
                <?js if ( !empty(contentDataBuildings[index].buildings.subdivisionsMainArray) ) { ?>
                    <h1><a href="/${useLang}/building-${contentDataBuildings[index].buildings.alias}">${contentDataBuildings[index].buildings.name}</a></h1>
                    <div class="table">
                        <table spoilerClass="css-table-spoiler" class="pagingTableLeadership css-table table dataTable no-footer" role="grid">
                            <thead>
                                <tr role="row">
                                <th></th>
                                <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                        aria-sort="ascending" aria-label="Учреждение: activate to sort column descending">${i18n('Подразделение')}</th>
                                <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                        aria-sort="ascending" aria-label="Должность: activate to sort column descending">${i18n('Должность')}</th>
                                <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                        aria-sort="ascending" aria-label="ФИО: activate to sort column ascending">${i18n('Ф.И.О.')}</th>
                            </thead>
                            <tbody>
                                <?js for(let indexS in contentDataBuildings[index].buildings.subdivisionsMainArray) { ?>
                                    <tr role="row" class="odd">
                                        <td><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
                                        <td><a href="/${useLang}/subdivision-${contentDataBuildings[index].buildings.subdivisionsMainArray[indexS].subdivisions.alias}">${contentDataBuildings[index].buildings.subdivisionsMainArray[indexS].subdivisions.name}</a></td>
                                        <?js if ( !empty(contentDataBuildings[index].buildings.subdivisionsMainArray[indexS].subdivisions.managerPost) ) { ?>
                                            <td>${contentDataBuildings[index].buildings.subdivisionsMainArray[indexS].subdivisions.managerPost}</td>
                                        <?js } else { ?>
                                            <td>${i18n('Руководитель')}</td>
                                        <?js } ?>
                                        <td>${contentDataBuildings[index].buildings.subdivisionsMainArray[indexS].subdivisions.managerFIO}</td>
                                    </tr>
                                <?js } ?>
                            </tbody>
                        </table>
                    </div>
                <?js } ?>
            <?js } ?>

            <!--Таблицы с подразделениями (без привязки основного здания)-->
            <?js if ( !empty(contentDataSubdivisions) ) { ?>
                <h1>Прочие подразделения</h1>
                <div class="table">
                    <table  spoilerClass="css-table-spoiler" class="pagingTableLeadership css-table table dataTable no-footer" role="grid">
                        <thead>
                            <tr role="row">
                            <th></th>
                            <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Учреждение: activate to sort column descending">${i18n('Подразделение')}</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="Должность: activate to sort column descending">${i18n('Должность')}</th>
                            <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1"
                                    aria-sort="ascending" aria-label="ФИО: activate to sort column ascending">${i18n('Ф.И.О.')}</th>
                        </thead>
                        <tbody>
                            <?js for(let indexS in contentDataSubdivisions) { ?>
                                <tr role="row" class="odd">
                                    <td><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
                                    <td><a href="/${useLang}/subdivision-${contentDataSubdivisions[indexS].subdivisions.alias}">${contentDataSubdivisions[indexS].subdivisions.name}</a></td>
                                    <?js if ( !empty(contentDataSubdivisions[indexS].subdivisions.managerPost) ) { ?>
                                        <td>${contentDataSubdivisions[indexS].subdivisions.managerPost}</td>
                                    <?js } else { ?>
                                        <td>${i18n('Руководитель')}</td>
                                    <?js } ?>
                                    <td>${contentDataSubdivisions[indexS].subdivisions.managerFIO}</td>
                                </tr>
                            <?js } ?>
                        </tbody>
                    </table>
                </div>
            <?js } ?>
        </content>
    </section>
    <!--/РУКОВОДСТВО-->
</main>
