﻿<main class="container">

    <?js if( contentData && contentData.name ) { ?>
        <h1>${contentData.name}</h1>
    <?js } ?>

    <!--ПОДЕЛИТЬСЯ-->
    <section class="share">
        <h2> ${i18n('Поделиться')} : </h2>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,lj"></div>
    </section>
    <!--/ПОДЕЛИТЬСЯ-->

    <article>
        <!--БОКОВОЕ МЕНЮ-->
        <?js if( navigationData ) { ?>
            <aside>
                <?js if( navigationData.parent ) { ?>
                    <p class="nav__link-title nav__link-title--parent">${i18n('Родительская статья')}</p>
                    <ul class="nav__sidelist nav__sidelist--parent">
                        <li>
                            <a href="/${useLang}/${navigationData.parent.articles.alias}" class="nav__link">${navigationData.parent.articlesLocal.name}</a>
                        </li>
                    </ul>
                <?js } ?>
                <?js if( navigationData.brothers ) { ?>
                    <ul class="nav__sidelist nav__sidelist--adjacent">
                        <?js for(let index in navigationData.brothers) { ?>
                            <li>
                                <a href="/${useLang}/${navigationData.brothers[index].articles.alias}" class="nav__link">${navigationData.brothers[index].articlesLocal.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                <?js } ?>
                <?js if( navigationData.childrens ) { ?>
                    <ul class="nav__sidelist nav__sidelist--adjacent">
                        <?js for(let index in navigationData.childrens) { ?>
                            <li>
                                <a href="/${useLang}/${navigationData.childrens[index].articles.alias}" class="nav__link">${navigationData.childrens[index].articlesLocal.name}</a>
                            </li>
                        <?js } ?>
                    </ul>
                <?js } ?>
            </aside>
        <?js } ?>
        <!--/БОКОВОЕ МЕНЮ-->

        <!--ТЕЛО-->
        <?js if( (contentData && contentData.text) || (documentData && documentData[0]) ) { ?>
            <content>
                <!--текст-->
                <?js if( contentData && contentData.text) { ?>
                    ${contentData.text}
                <?js } ?>

                <!--документы-->
                <?js if( documentData && documentData[0] ) { ?>
                    <section class="docs">
                        <ul>
                            <?js for(let index in documentData) { ?>
                                 <li>
                                     <a href="/${useLang}/document-${documentData[index].documents.id}" class="nav__link">${documentData[index].documents.name}</a>
                                 </li>
                            <?js } ?>
                        </ul>
                    </section>
                <?js } ?>
            </content>
        <?js } ?>
        <!--/ТЕЛО-->
    </article>

    <!--ПОДЕЛИТЬСЯ-->
    <section class="share">
        <h2> ${i18n('Поделиться')} : </h2>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,lj"></div>
    </section>
    <!--/ПОДЕЛИТЬСЯ-->

</main>
