﻿<main class="container">

    <?js if( contentData && contentData.name ) { ?>
        <h1>${contentData.name}</h1>
    <?js } ?>

    <!--ПОДЕЛИТЬСЯ-->
    <section class="share">
        <h2> ${i18n('Поделиться')} : </h2>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,lj"></div>
    </section>
    <!--/ПОДЕЛИТЬСЯ-->

    <article>
        <!--БОКОВОЕ МЕНЮ-->
        <!--/БОКОВОЕ МЕНЮ-->

        <!--ТЕЛО-->
        <?js if( (contentData && contentData.text) || (documentData && documentData[0]) ) { ?>
            <content>
                <!--текст-->
                <?js if( contentData && contentData.text) { ?>
                    ${contentData.text}
                <?js } ?>

                <!--документы-->
                <?js if( documentData && documentData[0] ) { ?>
                    <section class="docs">
                        <ul>
                            <?js for(let index in documentData) { ?>
                                 <li>
                                     <a href="/${useLang}/document-${documentData[index].documents.id}" class="nav__link">${documentData[index].documents.name}</a>
                                 </li>
                            <?js } ?>
                        </ul>
                    </section>
                <?js } ?>
            </content>
        <?js } ?>
        <!--/ТЕЛО-->
    </article>

    <!--ПОДЕЛИТЬСЯ-->
    <section class="share">
        <h2> ${i18n('Поделиться')} : </h2>
        <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,twitter,lj"></div>
    </section>
    <!--/ПОДЕЛИТЬСЯ-->

</main>