<main class="container">
    <script type="text/javascript" src="/js/newsload.js"></script>
<!--СОБЫТИЯ-->
    <section class="news">
        <div class="container">
            <h1>${i18n('События')}</h1>
            <?js for(let index in contentData) { ?>
                <article class="module">
                    <?js if ( !empty(contentData[index].eventsLocal.photo_link) ) { ?>
                        <div class="thumb">
                            <div class="system_imageObject" style="background-image: url(${contentData[index].eventsLocal.photo_link})"></div>
                        </div>
                    <?js } ?>
                    <div class="text">
                        <a href="/${useLang}/events-${contentData[index].events.alias}"><h2>${contentData[index].events.name}</h2></a>
                        <div class="date">
                            <i class="fa fa-calendar"></i>
                             <span>${toRuDateTimeString(new Date(contentData[index].events.date_added * 1000))}</span>
                        </div>
                        <?js if( contentData[index].events.fullname ) { ?>
                            <p class="short_desc">${contentData[index].events.fullname}</p>
                        <?js } ?>
                        <div class="info"></div>
                    </div>
                </article>
            <?js } ?>
        </div>
    </section>
<!--/СОБЫТИЯ-->
</main>