<main class="container">
    <section class="page-not-found">
        <div class="container">
            <h2>${i18n('Ошибка')}</h2>
            <h1>404</h1>
            <p>${i18n('К сожалению данный язык не поддерживается, приносим свои извинения за доставленные неудобства')}</p>
            <a href="/">
                ${i18n('На главную страницу')}
            </a>
        </div>
    </section>
</main>
