<main class="container">
    <script type="text/javascript" src="/js/datatables.min.js"></script>
    <script type="text/javascript" src="/js/dataTables.bootstrap.min.js"></script>

<!--/РАБОТНИКИ-->
    <section class="container workers">
        <h1>${i18n('Сотрудники')}</h1>
        <p class="count">${i18n('всего')} :
            ${count}
        </p>
        <content>
            <div class="table">
                <table spoilerClass="css-table-spoiler" class="system_tableObject css-table table dataTable no-footer" role="grid">
                    <thead>
                    <tr role="row">
                        <th></th>
                        <th class="sorting_asc" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('ФИО')}</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('Должность, график')}:</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('Уровень образования')}:</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('Учебное заведение')}:</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('Год окончания')}:</th>
                        <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('Специальность')}</th>
                        <th class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('Квалификация')}</th>
                        <th inSpoiler = "true" class="sorting" tabindex="0" aria-controls="pagingTable" rowspan="1" colspan="1">${i18n('Сертификат')}:</th>
                    </tr>
                    </thead>
                    <tbody>
                        <?js if( !empty(contentData) ) { ?>
                            <?js for(let index in contentData) { ?>
                                <tr role="row" class="odd">
                                    <td><i class="fa fa-chevron-right" aria-hidden="true"></i></td>
                                    <td>
                                        <div>
                                            ${contentData[index].workers.fio}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            <?js for(let indexP in contentData[index].workers.positions) { ?>
                                                <p class="positions.post"><strong>${i18n('Должность')}: </strong>${contentData[index].workers.positions[indexP].positions.text}</p>
                                                <p class="positions.post"><strong>${i18n('График работы')}: </strong>${contentData[index].workers.positions[indexP].positions.schedule}</p>
                                           <?js } ?>
                                        </div>
                                    </td>
                                    <td>${contentData[index].workers.level}</td>
                                    <td>${contentData[index].workers.institution}</td>
                                    <td>${contentData[index].workers.year}</td>
                                    <td>${contentData[index].workers.specialty}</td>
                                    <td>${contentData[index].workers.qualification}</td>
                                    <td>
                                        <div>
                                            <?js for(let indexC in contentData[index].workers.certificates) { ?>
                                                <p class="sertificate-name">${contentData[index].workers.certificates[indexC].certificates.text}</p>
                                                <p class="sertificate-end">${contentData[index].workers.certificates[indexC].certificates.deadline}</p>
                                            <?js } ?>
                                        </div>
                                    </td>
                                </tr>
                            <?js } ?>
                        <?js } ?>
                    </tbody>
                </table>
            </div>
        </content>
    </section>
<!--/РАБОТНИКИ-->
</main>

